.Cart{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    overflow-y: auto;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: fixed;
    }

    .cart-content{
        height: 100vh;
        width: 330px;
        position: relative;
        background-color: white;
        animation: cartSlider 0.5s ease forwards;
        overflow-y: auto;

        .header {
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 8px;
            border-bottom: 3px solid rgba($color: #000000, $alpha: 0.5);
             
            .myCart{
                text-transform: uppercase;
                color: rgb(93, 91, 91);
            }

            .close-btn {
                display: flex;
                align-items: center;
                gap: 4px;
                cursor: pointer;
                font-weight: 500;
                font-size: 1.4rem;

                &:hover {
                    color: rgb(169, 8, 8);
                }
            }
        }

        .empty-cart-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 32vh;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 4rem;
                color: var(--secondary-text-color);
            }

            h3 {
                color: var(--secondary-text-color);
            }
        }
    
        .checkout-info{
            margin-top: 40px;
            padding: 8px;

            .total-amount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0;
                border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
            }

            .checkout {
                margin: 16px 14px;
                text-align: center;
            }
        }
    }

}

@keyframes cartSlider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 480px) {
    .Cart .cart-content {
        width: 100%;
    }
}