.contact{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.container.contact_container{
    width: 100%;
    display: grid;
    grid-template-columns: 40%;
    padding: 30px;
    justify-content: space-around;

    form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    
    input,textarea{
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background: transparent;
        border: 1px solid #888;
        resize: none;
    }
}

@media screen and (max-width: 1024px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}